attr
brotli
brotlicffi
ConfigParser
cryptography
Cython
dl
docutils
Flask
HTMLParser
importlib_metadata
ipython
ipywidgets
Jinja2
jnius
keyring
langchain
lockfile
lxml
mock
neo4j
numpy
openai
ordereddict
pdf2image
Pillow
pinecone
protobuf
pyOpenSSL
PyPDF2
pytesseract
python-dotenv
railroad
simplejson
Sphinx
toml
tornado
tqdm
urllib3_secure_extra
xmlrpclib
zipp
zstandard
