* {
	box-sizing: border-box;
}

body {
	background-color: #edeff2;
	font-family: 'Calibri', 'Roboto', sans-serif;
}

.row.padded_row,
.row.padded_row > div {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* layout and common global classes */
/* ---------------------------------------------------------------------- */

.main-row {
	width: 100%;
	max-width: 1800px;
}

.chat_window {
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	background-color: #f8f8f8;
	overflow: hidden;
}

.top_menu {
	background-color: #fff;
	padding: 13px 0px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
	position: relative;
	text-align: center;
	color: #337ab7;
	font-size: 20px;
}

/* messages inside the chatbox */
/* ---------------------------------------------------------------------- */

.messages {
	position: relative;
	list-style: none;
	padding: 20px 10px 0 10px;
	margin: 0;
	height: 500px;
	min-height: 70vh;
	overflow: auto;
}

.messages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all 0.5s linear;
	opacity: 0;
}

.messages .message .avatar {
	height: 40px;
	width: 40px;
	background-size: cover !important;
	border-radius: 50%;
	display: inline-block;
}

.messages .message .timestamp {
	font-size: 10px;
	font-weight: 300;
	text-align: right;
	margin-top: 5px;
}

.messages .message.appeared {
	opacity: 1;
}

.messages .message .text_wrapper {
	display: inline-block;
	padding: 20px;
	border-radius: 6px;
	min-width: 150px;
	position: relative;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
	top: 18px;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.messages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0px;
}

.messages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
}

/* bot message */

.messages .message.left .avatar {
	float: left;
	background: url('./img/ps.jpg');
}

.messages .message.left .text_wrapper {
	background-color: #f3eeca;
	margin-left: 20px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
	right: 100%;
	border-right-color: #f3eeca;
}

.messages .message.left .timestamp {
	color: #b0742f;
}

/* user message */

.messages .message.right .avatar {
	float: right;
	background: url('./img/picon.jpg');
}

.messages .message.right .text_wrapper {
	background-color: #b0d4f3;
	margin-right: 20px;
	float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
	left: 100%;
	border-left-color: #b0d4f3;
}

.messages .message.right .timestamp {
	color: #1a5770;
}

/* text inpur from user */

.bottom_wrapper {
	background-color: #fff;
	padding: 20px;
	bottom: 0;
	display: flex;
	margin-block-end: 0px;
}

/* .bottom_wrapper #msg_input {
	flex-grow: 1;
	outline-width: 0;
	padding: 12px;
	border: 1px solid #bcbdc0;
	border-radius: 50px;
	margin-right: 15px;
} */

.app_button_1 {
	/* width: 140px;
	/* border-radius: 50px;
	cursor: pointer;
	padding: 12px;
	border: 0px;

	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-align: center; */
}

.app_button_1:disabled {
	opacity: 0.5;
	cursor: progress;
}

/* faq section | right side */
/* ---------------------------------------------------------------------- */

.panel {
	border: 1px solid #dee2e6;
	border-radius: 5px;
}

.panel-body {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 5px;
}

.panel-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px;
}

.panel-heading {
	display: flex;
	justify-content: space-between;
	padding: 20px 16px;
	border-radius: 5px 5px 0px 0px;
}

.panel-heading h3 {
	font-size: 16px;
	margin-bottom: 0px;
}

.panel-heading [data-toggle='collapse']:after {
	font-family: 'FontAwesome';
	content: '\f054';
	float: right;
	font-size: 18px;
	line-height: 22px;
	transition: all 0.2s linear;

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle='collapse'].collapsed:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.help-panel > button {
	width: 100%;
}

.help-image {
	height: 20px;
}

#loading_spinner {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.spinner {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.collapsible {
	background-color: #ebe197; /* Match this color to your chat window background color */
	color: #000; /* Match this color to your text color */
	cursor: pointer;
	padding: 10px; /* You can reduce this to make the button smaller */
	width: 50%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 13px; /* You can reduce this to make the button text smaller */
	border-radius: 5px; /* You can add this to make the button corners rounded */
	margin-top: 10px; /* Add some space between the message and the button */
}

.collapsible:hover {
	background-color: #ddd; /* This is the color when you hover over the button */
}

.content {
	padding: 10px 18px;
	display: none;
	overflow: hidden;
	background-color: #ddd; /* Change this to a color that contrasts with your background color */
	border-radius: 5px; /* This makes the content box corners rounded */
	margin-top: 5px; /* Add some space between the button and the content */
}

#namespace_selector {
	flex-grow: 0.001;
	outline-width: 0;
	padding: 10px; /* Reduced padding */
	border: 1px solid #bcbdc0;
	border-radius: 25px; /* Adjusted border radius */
	margin-right: 15px;
	font-size: 14px; /* Reduced font size */
}

.example-question {
	cursor: pointer;
}

.example-question:hover {
	font-weight: bold;
}

#documents-accordion li {
	word-wrap: break-word;
}

/* chat | flashing loading dots */
/* ---------------------------------------------------------------------- */
.dot-flashing {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #383838;
	color: #383838;
	animation: dot-flashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}
.dot-flashing::before {
	left: -15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #383838;
	color: #383838;
	animation: dot-flashing 1s infinite alternate;
	animation-delay: 0s;
}
.dot-flashing::after {
	left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #383838;
	color: #383838;
	animation: dot-flashing 1s infinite alternate;
	animation-delay: 1s;
}

@keyframes dot-flashing {
	0% {
		background-color: #383838;
	}
	50%,
	100% {
		background-color: rgba(152, 128, 255, 0.2);
	}
}

.stage {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 5px 0;
	margin: 0 -5%;
	overflow: hidden;
}
