<!DOCTYPE html>
<html>
<head>
    <title>ChatBot with Graph</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>ChatBot with Graph</h1>
        <div id="chatbox">
            <p class="botText"><span>Hi! I'm Your bot.</span></p>
        </div>

        <form id="chatForm">
            <input id="userInput" type="text" name="msg" placeholder="Message" class="form-control">
            <button type="submit" id="sendButton" class="btn btn-warning">Send</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $("#chatForm").on("submit", function(event) {
                event.preventDefault();

                let userInput = $("#userInput").val();
                $("#userInput").val("");

                let userHtml = '<p class="userText"><span>' + userInput + "</span></p>";
                $("#chatbox").append(userHtml);

                $.post("/get", { msg: userInput }, function(data) {
                    // Iterate over the keys in the response dictionary
                    Object.keys(data).forEach(function(key) {
                        let botHtml = '<p class="botText"><span><span class="key">' + key + '</span>: <button class="toggleButton">Show</button><span class="answer">' + data[key] + '</span></span></p>';
                        $("#chatbox").append(botHtml);
                    });
                });
            });

            // Toggle the visibility of a specific key-answer pair when the corresponding toggle button is clicked
            $(document).on("click", ".toggleButton", function() {
                let answer = $(this).siblings(".answer");
                answer.toggle();

                // Change the button text based on the visibility of the answer
                let buttonText = answer.is(":visible") ? "Hide" : "Show";
                $(this).text(buttonText);
            });
        });
    </script>
</body>
</html>
